$primary-color: #0B3F9C;
$primary-darker-shade: #0C46F1;
$light-color: #B2B2B2;

.space-container {
  padding: 25px;
  height: calc(100vh - 50px);
  border-left: .5px solid $light-color;
  .space-description {
    width: 50%;
  }
  .space-creator {
    font-weight: normal;
    font-size: 15px;
    margin-left: 15px;
    position: relative;
    top: -5px;
  }
}

.space-tabs {
  margin-top: 25px;
  .space-tab {
    background-color: $primary-color;
    color: white;
  }
}

.center-block {
  justify-content: center;
  display: flex;
  height: 100px;
  align-items: center;
}

.error-container {
  padding: 25px;
  .alert {
    padding: 20px;
    background: #F7D7DA;
    color: #711D26;
    border-radius: 10px;
  }
}

.flex-container {
  display: flex;
  .menu-nav {
    flex: 0.2;
    margin-top: 50px;
  }
  .content {
    flex: 0.8;
    width: 100%;
  }
}

.space-table {
  overflow-x: scroll;
}

.loading-centered {
  position: fixed;
  left: 50%;
}

@media screen and (max-width: 959px){
  div.flex-container{
    .content {
      flex: 1;
      margin-top: 25px;
    }
  }
}